{{ form_start(form) }}

    <div class="form-card">
        <h1 class="form-card-title">Add Book</h1>

        <div class="form-card-body">

            <div class="row">
                <div class="col">
                    {{ form_row(form.isbn, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.subtitle, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_row(form.publisher, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.published, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col">
                    {{ form_row(form.pages, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col col-xs-12">
                    {{ form_row(form.website, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col col-xs-12">
                    {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.photo_urls) }}
                </div>
            </div>
        </div>

        <div class="form-card-footer">
            <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
