{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ book.subtitle }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ book.published ? book.published|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ book.pages }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ book.website }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ book.category }}</td>
            </tr>
            <tr>
                <th>Photo_urls</th>
                <td>{{ book.photoUrls ? book.photoUrls|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
